MONGO_URI=""
PORT="5000"
JWT_SECRET=""
VITE_API_URL=""
MPESA_CONSUMER_KEY=""
MPESA_CONSUMER_SECRET=""
MPESA_SHORTCODE=""
MPESA_PASSKEY=""
MPESA_CALLBACK_URL=""
SUPERADMIN_PASSWORD=""
SUPERADMIN_EMAIL=""